{# templates/message.html.twig #}
{% block head %}
<h1>Welcome to {{ message }}</h1>
{% endblock%}
{# the image lives at "public/images/Welcome.jpeg" #}
<img src="{{ ('images/Welcome.jpeg') }}" alt="Symfony!"/>